{
    "arrowParens": "avoid",
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
